/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.container {
    margin: 0 auto;
    width: 960px;

}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#navigation {
    height: 120px;
    background-color: #1f2531;
}

#navigation ul li {
    float: right;
    padding: 0px 20px 0px 0px;
}

#navigation ul li a {
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    line-height: 120px;
    height: 120px;
    display: block ;
}

#navigation ul li a:hover {
    background: rgba(255, 0, 0, 0.356);
    text-decoration: underline; 

}

.logotip {
    padding: 0px 0px 0px 10px;
}

.iphone {
    float: right;
}

.header1 {
    font-family: georgia;
    font-size: 50px;
    padding: 200px 0px 0px 20px;
    color: white;
}

.paragraph1 {
    font-family: georgia;
    font-size: 15px;
    padding: 35px 0px 0px 20px;
    color: white;
}

.header2 {
    font-family: georgia;
    padding: 0px 0px 0px 20px;
}

.paragraph2 {
    font-family: georgia;
    padding: 0px 0px 0px 20px;
}

img {
    padding: 40px 0px 0px 20px;
}

html {
    background-color: #1f2531;
}

.giper {
    color: red;
}

.line {
    color: #666666;
    margin: 0px auto;
    
}

.iphone {
    padding: 50px 20px 0px 0px;
}

.main-block {
    background-color: #ffffff;
    padding: 50px 20px 0px 20px;
    border-radius: 30px;
    width: 890px;
    height: 675px;
    margin: 60px auto;
}


.circle1 {
    position: relative;
    background-color: #e2e2e2;
    width: 215px ;
    height: 215px ;
    border-radius: 107.5px ;

}

.circle2 {
    position: relative;
    background-color: #e2e2e2;
    width: 215px ;
    height: 215px ;
    border-radius: 107.5px ;
}

.circle3 {
    background-color: #e2e2e2;
    width: 215px ;
    height: 215px ;
    border-radius: 107.5px ;
    top: -159px;
}

.circle4 {
    background-color: #e2e2e2;
    width: 215px ;
    height: 215px ;
    border-radius: 107.5px ;
    top: -159px;
    
}

.circle5 {
    position: relative;
    background-color: #b86365;
    width: 179px ;
    height: 179px ;
    border-radius: 89.5px;
    top: -197px;
    left: 18px;
}

.circle6 {
    position: relative;
    background-color: #b86365;
    width: 180px ;
    height: 180px ;
    border-radius: 90px ;
    top: -197px;
    left: 18px;
}

.circle7 {
    position: relative;
    background-color: #b86365;
    width: 180px ;
    height: 180px ;
    border-radius: 90px ;
    top: -197px;
    left: 18px;
}

.circle8 {
    position: relative;
    background-color: #b86365;
    width: 180px ;
    height: 180px ;
    border-radius: 90px ;
    top: -197px;
    left: 18px;

}

.blackstar1 {
    width: 31px;
    height: 32px;
    margin-left: 470px;
    margin-top: -670px ;
}
.blackstar2 {
    width: 31px;
    height: 32px;
    margin-left: 690px;
    margin-top: -32px ;
}
.blackstar3 {
    width: 31px;
    height: 32px;
    margin-left: 470px;
    margin-top: 76px ;
}
.blackstar4 {
    width: 31px;
    height: 32px;
    margin-left: 690px;
    margin-top: -32px ;
}
.blackstar5 {
    width: 31px;
    height: 32px;
    margin-left: 470px;
    margin-top: 76px ;
}
.blackstar6 {
    width: 31px;
    height: 32px;
    margin-left: 690px;
    margin-top:-32px ;
}
.blackstar7 {
    width: 31px;
    height: 32px;
    margin-left: 470px;
    margin-top: 76px;
}
.blackstar8 {
    width: 31px;
    height: 32px;
    margin-left: 690px;
    margin-top: -32px;
}

.circle15 {
    height: 235px;
    width: 235px;
}

.circle26 {
    height: 235px;
}

.ra1{
    
}

.pa1 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 532px;
    margin-top: -307px;
}

.ha1 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 490px;
    margin-top: 30px;
}

.pa2 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 532px;
    margin-top: 30px;
}

.ha2 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 490px;
    margin-top: 30px;
}

.pa3 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 532px;
    margin-top: 30px;
}

.ha3 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 490px;
    margin-top: 30px;
}

.pa4 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 532px;
    margin-top: 30px;
}

.ha4 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 490px;
    margin-top: 30px;
}

.pa5 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 756px;
    margin-top: -412px;
}

.ha5 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 710px;
    margin-top: 30px;
}

.pa6 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 756px;
    margin-top: 30px;
}

.ha6 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 710px;
    margin-top: 30px;
}

.pa7 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 756px;
    margin-top: 30px;
}

.ha7 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 710px;
    margin-top: 30px;
}

.pa8 {
    font-family: georgia;
    font-size: 14px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 756px;
    margin-top: 30px;
}

.ha8 {
    font-family: georgia;
    font-size: 12px;
    padding: -200px 0px 0px 0px;
    color: #666666;
    margin-left: 710px;
    margin-top: 30px;
}

.tpgrdnt {
    margin-top: 30px;
}

.leftarrow {
    margin-top: -24px;
    margin-left: -20px;
}

.rightarrow {
    margin-left: 806px;
}

.Subscribe {
    margin-top: -202px;
}